In [1]:
def even_or_odd(num):
  """This functions find even or odd"""
  if num % 2 == 0:
    print('The number is even.')
  else:
    print('The number is odd.')

In [3]:
even_or_odd(91)

The number is odd.

In [4]:
def add(a, b):
  return a + b

In [5]:
add(3,2)

5

In [ ]:
# Default functions
def greet(name='Guest'):
  print(f'Hello {name}!')

In [7]:
greet('Saidabrorkhon')

Hello Saidabrorkhon!

In [9]:
greet()

Hello Guest!

In [10]:
# Variable Length Arguments
# Positional and Keyword argument (*args)

def print_numbers(*args):
  return args

In [11]:
print_numbers(1,2,3,4,5,6,7)

(1, 2, 3, 4, 5, 6, 7)

In [12]:
def print_numbers(*args):
  for i in args:
    print(i)

In [13]:
print_numbers(1,2,3,4,5,6,7)

1
2
3
4
5
6
7

In [14]:
# Keyword Arguments
def print_details(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [19]:
print_details(name='Saidabrorkhon',age=26,country='South Korea')

name: Saidabrorkhon
age: 26
country: South Korea

In [25]:
def print_details(*args, **kwargs):
    for val in args:
     print(f'Positional argument: {val}')
    for key, value in kwargs.items():
     print(f'{key}: {value}')

In [26]:
print_details(1,2,3,4,name='Saidabrorkhon',age=26,country='South Korea')

Positional argument: 1
Positional argument: 2
Positional argument: 3
Positional argument: 4
name: Saidabrorkhon
age: 26
country: South Korea

In [2]:
# Return multiple statements
def multiply(a, b):
  return a * b, a + b, a / b

In [3]:
multiply(3, 1)

(3, 4, 3.0)

### Temperature converter

In [ ]:
def convert_temperature(temp, unit):
    if unit == 'C':
        return f'{temp * 9/5 + 32}F' #Celsius to Fahrenheit
    elif unit == 'F':
        return f'{(temp - 32) * 5/9}C' #Fahrenheit to Celsius

In [29]:
print(convert_temperature(113,'F'))

45.0C

### Pasword strength checker

In [ ]:
def is_strong_password(password):
    """This function checks if the password is strong or not"""
    if len(password) < 8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.lower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in "!@#$%^&*()_+" for char in password):
        return False
    return True

In [41]:
print(is_strong_password('weakp2'))
print(is_strong_password('SHS.SAID1!'))

False
True

### Total cost of items in a shopping cart

In [39]:
def calculate_total_cost(cart):
    total_cost = 0
    for i in cart:
        total_cost += i['price'] * i['quantity']
    return total_cost

cart = [
  {'name': 'Apple', 'price': 0.5, 'quantity': 4},
  {'name': 'Banana', 'price': 0.4, 'quantity': 6},
  {'name': 'Orange', 'price': 0.7, 'quantity': 3}
]

calculate_total_cost(cart)

6.5

### Check if a string is palindrome

In [70]:
# read the same both forward and backward
def is_palindrome(s):
    s = s.lower().replace(" ", "")
    return s==s[::-1]
print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

### The factorial of a number using recursion

In [74]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
factorial(5)

120

### Count the frequency of the word

In [ ]:
def count_word_frequncy(file_path):
    word_count = {}
    with open(file_path, 'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:"\'')
                word_count[word] = word_count.get(word, 0) + 1
    return word_count

filepath = 'sample.txt'
# word = count_word_frequncy(filepath)
# print(word)
count_word_frequncy(filepath)

{'men': 4,
 'saidabror': 1,
 'andijon': 1,
 'shahar': 1,
 'maktab': 1,
 'va': 3,
 'non': 1}

In [84]:
addition = lambda a, b: a + b

In [85]:
addition(2,3)

5

In [86]:
even = lambda num: num % 2 == 0

In [87]:
even(9)

False

In [89]:
addition1 = lambda a,b,c: a+b+c
addition1(12,13,14)

39

In [122]:
numbers = [1,2,3,4,5]
def square(number):
    return number ** 2

square(2)

4

In [125]:
list(map(lambda x: x ** 2, numbers))

[1, 4, 9, 16, 25]

In [ ]:
numbers = [1, 4, 7, 10, 13, 16, 19, 22]
even2 = lambda x: [i % 2 for i in x]
list(even2(numbers))

[1, 0, 1, 0, 1, 0, 1, 0]

In [ ]:
numbers = [1, 4, 7, 10, 13, 16, 19, 22]
even3 = list(filter(lambda x: x % 2 == 0, numbers))
even3

[4, 10, 16, 22]

In [146]:
list(map(lambda x: x * x, numbers))

[1, 16, 49, 100, 169, 256, 361, 484]

In [153]:
def logic(x):
  return x * x

list(map(logic, numbers))

[1, 16, 49, 100, 169, 256, 361, 484]

In [157]:
numbers1 = [1,2,3]
numbers2 = [4,5,6]
numbers3 = [7,8,9]
added_numbers = list(map(lambda x,y,z:x+y+z, numbers1, numbers2, numbers3))
added_numbers

[12, 15, 18]

In [158]:
# map() to convert a list of strings to integers
str_numbers = ['1','2','3']
int_numbers = list(map(int, str_numbers))
int_numbers

[1, 2, 3]

In [159]:
import pandas as pd

In [161]:
df = pd.DataFrame({
  'status':['yes', 'no']
})

df

  status
0    yes
1     no

In [162]:
df['status'] = df['status'].map({
  'yes':1,
  'no':0
})

In [163]:
df

   status
0       1
1       0

In [164]:
words = ['apple', 'banana', 'cherry']
upper_word = list(map(str.upper, words))
upper_word

['APPLE', 'BANANA', 'CHERRY']

In [166]:
nw_p = []
for word in words:
  new_word = word.upper()
  nw_p.append(new_word)
nw_p

['APPLE', 'BANANA', 'CHERRY']

In [167]:
def get_name(person):
    return person['name']

person={
    'name':'said',
    'age':32
}

get_name(person)

'said'

In [170]:
people=[
  {'name':'said','age':23},
  {'name':'olp','age':13}
]

list(map(get_name, people))

['said', 'olp']

Filter() function in python

In [176]:
def evev(num):
  if num % 2 == 0:
    return True
  
lst = [0,1,2,3,4,5,6,7,8,9,10,11,12]
print(list(filter(even, lst)))

list(filter(lambda x: x % 2 == 0, lst))

[0, 2, 4, 6, 8, 10, 12]

[0, 2, 4, 6, 8, 10, 12]

In [177]:
even_and_greater_than_five = list(filter(lambda x: x % 2 == 0 and x > 5, lst))
even_and_greater_than_five

[6, 8, 10, 12]

In [186]:
# Filter to check if the age is greater than 25 in dictionaries
people=[
  {'name':'said', 'age':12},
  {'name':'mick', 'age':29},
  {'name':'kate', 'age':26}
]

def greate_than_25(person):
    if person['age'] > 25:
         return person['name']
    else:
         pass

greate_than_25s = list(map(greate_than_25, people))
greate_than_25s

[None, 'mick', 'kate']